
.contenido{
    display: grid;
    gap:5rem;
    align-items: flex-start;
 
}
@media (min-width:768px){


    .contenido{
       grid-template-columns: 3fr 2fr;
       
    }
}

.carrito{
     padding: 3rem;
}

.text-white{
    color: white;
}


.resumen{
    background: #10569c;
    padding: 3rem;
    position: sticky;
    top: 1rem;
    border-radius: 1rem;
}

.producto{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 4rem;
    align-items: center;
    position: relative;
    padding: 3rem 0 ;
    border-bottom: 1px solid #c3c3c3;
}

h5{
    font-size: 2rem;
}
.nombre {
font-size: 4rem;
color: #dd7411;
font-weight: bold;
}
.precio{
    font-size: 3.2rem;
}

.select{
    all:unset;
    border: 1px solid #cfcfcf;

    text-align: center;
    width: 100%;
    border-radius: 1rem;
}

.btn-eliminar{
    all: unset;
    position: absolute;
    top: 3rem;
    right: 1rem;
    font-size: 25px;
    color: red;
    font-weight: 100;

}

.btn-eliminar:hover{
    cursor: pointer;
}